@model Agent_Management_Client.Models.genral

@{
    ViewData["Title"] = "Index";
}

<h1>Index genral</h1>

<div>
    <h4>genral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sum_all_agent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sum_all_agent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sum_all_agent_active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sum_all_agent_active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sum_all_mission_false)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sum_all_mission_false)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sum_all_mission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sum_all_mission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sum_all_Targe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sum_all_Targe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sum_all_Target_eliminated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sum_all_Target_eliminated)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
